@page "/familyevents/delete"
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Family Event</h2>
    <hr />
    @if (FamilyEvent is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <table class="table table-bordered w-auto">
            <tbody>
                <tr>
                    <td class="fw-bold text-start"><strong>Title</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.Text</td>
                </tr>

                <tr>
                    <td class="fw-bold text-start"><strong>Location</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.Location</td>
                </tr>

                <tr>
                    <td class="fw-bold text-start"><strong>Description</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.Description</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>Category</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.EventCategory?.Name</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>Sub Category</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.EventSubCategory?.Name</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>Family Member</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.FamilyMember?.Name</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>Start</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.Start</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>End</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.End</td>
                </tr>
                <tr>
                    <td class="fw-bold text-start"><strong>All Day Event</strong></td>
                    <td class="text-start ps-4">@FamilyEvent.AllDay</td>
                </tr>
            </tbody>
        </table>
        
        
        <EditForm method="post" Model="FamilyEvent" OnValidSubmit="DeleteFamilyEvent" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(FamilyEvent is null)">Delete</button> |
            <a href="/calendar">Back to Calendar</a>
        </EditForm>
    }
</div>

@code {
    private FamilyEvent? FamilyEvent;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        FamilyEvent ??= await context.FamilyEvents
            .Include(e => e.EventCategory)
            .Include(e => e.EventSubCategory)
            .Include(e => e.FamilyMember)    
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (FamilyEvent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }


    private async Task DeleteFamilyEvent()
    {
        using var context = DbFactory.CreateDbContext();
        context.FamilyEvents.Remove(FamilyEvent!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/calendar");
    }
}
