@page "/chores/details"
@using Microsoft.EntityFrameworkCore
@using Teaghlach.Data
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Chore Details</h1>

<hr />

@if (Chore is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered w-auto">
        <tbody>
            <tr>
                <td class="fw-bold text-start"><strong>Chore</strong></td>
                <td class="text-start ps-4">@Chore.Type.GetDescription()</td>
            </tr>
            
            <tr>
                <td class="fw-bold text-start"><strong>Assigned To</strong></td>
                <td class="text-start ps-4">@Chore.AssignedTo?.Name</td>
            </tr>
            
            <tr>
                <td class="fw-bold text-start"><strong>Created</strong></td>
                <td class="text-start ps-4">@Chore.CreatedAt.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="fw-bold text-start"><strong>Due Date</strong></td>
                <td class="text-start ps-4">@Chore.DueDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="fw-bold text-start"><strong>Completed</strong></td>
                <td class="text-start ps-4">@(Chore.IsCompleted ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>


    <div class="mt-3">
        <a href="@($"/chores/edit?id={Chore.Id}")" class="btn btn-primary">Edit</a>
        <a href="/chores" class="btn btn-secondary ms-2">Back to List</a>
    </div>
}


@code {
    private Chore? Chore;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();

        Chore = await context.Chores
            .Include(c => c.AssignedTo)
            .FirstOrDefaultAsync(c => c.Id == Id);

        if (Chore is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
